<nav class="navbar">
    <div class="logo">
        <a href="/" style="color:inherit;text-decoration:none;">FarmVille</a>
    </div>
    <ul class="menu" id="navbar-menu">
        <li><a href="/jogo/agricultura">Agricultura</a></li>
        <li><a href="/jogo/mineracao">Mineração</a></li>
        <li><a href="/jogo/floresta">Floresta</a></li>
        <li><a href="/jogo/loja">Loja</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <% if (!user) { %>
            <li id="login-btn"><a href="/login">Entrar</a></li>
            <li id="registar-btn"><a href="/registro" class="btn-registro">Registar</a></li>
        <% } else { %>
            <li id="logout-btn"><a href="/logout">Sair</a></li>
        <% } %>
    </ul>
</nav>