<section class="error-container">
    <h1>Erro no Servidor</h1>
    <h2><%= mensagem || 'Ocorreu um erro inesperado.' %></h2>
    
    <div class="error-image">
        <img src="/img/error.png" onerror="this.src='/img/empty-chest.png'" alt="Erro">
    </div>
    
    <a href="/" class="feature-btn">Voltar à Página Inicial</a>
</section>
